<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsAppDataPro.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WindowsAppDataPro.My.MySettings>
            <setting name="RutaDBF" serializeAs="String">
                <value>C:\Jobs\TULIPAN</value>
            </setting>
            <setting name="Mysql_IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Mysql_User" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Mysql_Pass" serializeAs="String">
                <value>s3rv3r</value>
            </setting>
            <setting name="Mysql_DB" serializeAs="String">
                <value>dbconsulta</value>
            </setting>
            <setting name="Mysql_Version" serializeAs="String">
                <value>5.3</value>
            </setting>
            <setting name="Dias_Busqueda" serializeAs="String">
                <value>2</value>
            </setting>
        </WindowsAppDataPro.My.MySettings>
    </userSettings>
</configuration>